<h3>Request Id: {{regRequestRecord.id}}</h3>
<div class="panel panel-primary">
  <div class="panel-heading">Progress Status</div>
  <div class="panel-body">
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" [style.width.%]="progressValue" [style.background-color]="progressBarColour">{{regRequestRecord.status}}</div>
    </div>
    <div class="status"><h4> Current Status: {{regRequestRecord.status}}</h4></div>
    <div *ngIf="showMessageGreen" class="approval"><img src="../assets/images/approval.png" class="complete-img" /><h3>Switch Completed!</h3></div>
    <div *ngIf="showMessageRed" class="rejection"><img src="../assets/images/rejection.png" class="complete-img" /><h3>Switch not Successful</h3></div>
    <div *ngIf="showButton" class="intervene"><button class="btn btn-danger" (click)="interveneRequest(regRequestRecord.id);">Intervene</button></div>
  </div>
</div>
<app-notifications></app-notifications>
<div class="panel panel-primary">
  <div class="panel-heading">Audit trail</div>
  <div class="panel-body">
    <table class='table' *ngIf="auditRequests">
      <thead>
        <tr>
          <th>ID</th>
          <th>Request ID</th>
          <th>Stage</th>
          <th>Status</th>
          <th>Data</th>
          <th>Last Updated</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let auditRequest of auditRequests">
          <td>{{ auditRequest.id }}</td>
          <td>{{ auditRequest.registrationRequestId }}</td>
          <td>{{ auditRequest.logicAppId }}</td>
          <td>{{ auditRequest.status }}</td>
          <td class="table-data">{{ auditRequest.data }}</td>
          <td>{{ auditRequest.eventAt }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<button class="btn btn-primary" (click)="backToHome();">View All Requests</button>




