<div class="jumbotron">
  <img src="../assets/images/logo.png" class="logo-img" />
  <h2>Example of Supplier Status Demo</h2>
</div>
<!--<button type="button" (click)="setValue(); checkValue()" class="btn btn-primary">Submit Request</button>-->
<div class="panel panel-primary">
  <div class="panel-heading">Current Registration Requests</div>
  <div class="panel-body">
    <div class="reg-requests">
      <p *ngIf="!registrationRequests"><em>Loading...</em></p>

      <table class='table' *ngIf="registrationRequests">
          <thead>
            <tr>
              <th>Created Date</th>
              <th>Data</th>
              <th>ID</th>
              <th>Intervene Date</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let regRequest of registrationRequests">
              <td>{{ regRequest.createdDate }}</td>
              <td>{{ regRequest.data }}</td>
              <td>{{ regRequest.id }}</td>
              <td>{{ regRequest.interveneDate }}</td>
              <!--<td>{{ regRequest.status }}</td>-->
              <td><button class="primary-button" (click)="showRequest();" >View Request</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

 
