<div class="panel panel-primary">
  <div class="panel-heading">Notifications</div>
  <div class="panel-body">
    <table class='table' *ngIf="notificaions" style="max-height: 200px;display:block; overflow: auto;">
      <thead>
        <tr>
          <th>Sent To</th>
          <th>RMP Id</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let notificaion of notificaions">
          <td>{{ notificaion.receiver }}</td>
          <td>{{ notificaion.RMPId }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
